name: CD Deploy to GKE

on:
  push:
    branches: ["main"]
    paths:
      - "helm/**"
      - ".github/workflows/cd-deploy.yml"

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

  
    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}


    - name: Get GKE Credentials
      uses: google-github-actions/get-gke-credentials@v2
      with:
        cluster_name: ${{ secrets.GKE_CLUSTER }}
        location: ${{ secrets.GKE_REGION }}


    - name: Setup Helm
      uses: azure/setup-helm@v3

   
    - name: Deploy Patient Service
      run: |
        helm upgrade --install patient-service ./helm/patient-service \
        --set image.repository=us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT }}/microservices/patient-service \
        --set image.tag=latest

   
    - name: Deploy Appointment Service
      run: |
        helm upgrade --install appointment-service ./helm/appointment-service \
        --set image.repository=us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT }}/microservices/appointment-service \
        --set image.tag=latest


    - name: Deploy Order Service
      run: |
        helm upgrade --install order-service ./helm/order-service \
        --set image.repository=us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT }}/microservices/order-service \
        --set image.tag=latest
