replicaCount: 2

image:
  repository: myacr.azurecr.io/order-service
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

env:
  - name: SPRING_DATASOURCE_URL
    valueFrom:
      secretKeyRef:
        name: order-secrets
        key: db_url

resources:
  limits:
    cpu: 1
    memory: 1Gi
  requests:
    cpu: 300m
    memory: 512Mi
